*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
}
.navbar{
    display: inline-flex;
    margin: 50px;
}
.fa-bars{
    color: white;
    font-size: 50px;
    position: relative;
   right: 45%;
}
.fa-youtube{
    color: red;
    font-size: 50px;
   position: relative;
   right: 40%;
}
.searchbar{
    width:450px;
    position: relative;
    right: 30%;
    border-radius: 20px;
    padding-left: 10px;
}
.searchbutton{
    width: 50px;
    position: relative;
    right:28%;
    border-radius: 30px;
}
.title{
    color: white;
    font-size: 40px;
    position: relative;
   right: 38%;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.cards{
    /* border: 1px solid black; */
    width: 28%;
    height: 300px;
   margin: 30px;
   display: inline-block;
}
.channel-profile{
   border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
}
.video1{
    border-radius: 20px;
    position: relative;
}
.video1-title{
    position: relative;
    bottom: 18%;
    left: 60px;
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: white;
}
.channel-name{
    position: relative;
    bottom: 17%;
    left: 65px;
    color: rgba(155, 149, 149, 0.719);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.views{
    position: relative;
    bottom: 17%;
    left: 65px;
    color: rgba(128, 128, 128, 0.719);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cards:hover {
    border: 2px;
    border-style: inset;
    background-color: rgb(202, 193, 193);
}
